DB2_MCP_CONFIG_PATH=./config/profiles.example.yaml
DB2_MCP_API_KEY_READONLY=replace-with-readonly-key
DB2_MCP_API_KEY_READONLY_PROCEDURES=replace-with-procedure-key
DB2_MCP_API_KEY_FULL=replace-with-full-key
DB2_MCP_DB_READONLY=DATABASE=SAMPLE;HOSTNAME=db2.internal;PORT=50000;PROTOCOL=TCPIP;UID=db2_mcp_ro;PWD=change-me;
DB2_MCP_DB_READONLY_PROCEDURES=DATABASE=SAMPLE;HOSTNAME=db2.internal;PORT=50000;PROTOCOL=TCPIP;UID=db2_mcp_ro_proc;PWD=change-me;
DB2_MCP_DB_FULL=DATABASE=SAMPLE;HOSTNAME=db2.internal;PORT=50000;PROTOCOL=TCPIP;UID=db2_mcp_full;PWD=change-me;
